<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<items>
    <items_info>
        <title>TVSTREAMPRO [++]</title>
        <genre>Menu Principal</genre>
        <description>Escolha uma categoria para acessar o conteúdo</description>
        <thumbnail>https://example.com/menu.jpg</thumbnail>
        <fanart>https://example.com/fanart.jpg</fanart>
    </items_info>

    <item>
        <title>TVSTREAMPRO [++] - TV AO VIVO</title>
        <link>https://raw.githubusercontent.com/blackghost-dev/blackghost-dev.github.io/refs/heads/master/Channel.xml</link>
        <thumbnail>https://example.com/tv_icon.png</thumbnail>
        <info>Canais de TV ao vivo</info>
    </item>

    <item>
        <title>TVSTREAMPRO [++] - FILMES</title>
        <link>https://seusite.com/filmes.xml</link>
        <thumbnail>https://example.com/movies_icon.png</thumbnail>
        <info>Filmes em HD</info>
    </item>

    <item>
        <title>TVSTREAMPRO [++] - SÉRIES</title>
        <link>https://seusite.com/series.xml</link>
        <thumbnail>https://example.com/series_icon.png</thumbnail>
        <info>Séries completas</info>
    </item>
</items>
