<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<items>
    <items_info>
        <title>TVSTREAMPRO [++] - TV AO VIVO</title>
        <genre>TV</genre>
        <description>Servidores disponíveis para canais ao vivo</description>
        <thumbnail>https://example.com/tv_thumbnail.jpg</thumbnail>
        <fanart>https://example.com/tv_fanart.jpg</fanart>
    </items_info>

    <item>
        <title>Servidor 01</title>
        <link>https://servidor1.com/stream.m3u8</link>
        <thumbnail>https://example.com/tv1.png</thumbnail>
        <info>Servidor Principal</info>
    </item>

    <item>
        <title>Servidor 02</title>
        <link>https://servidor2.com/stream.m3u8</link>
        <thumbnail>https://example.com/tv2.png</thumbnail>
        <info>Servidor Alternativo</info>
    </item>
</items>
